h1{
  font-size:10rem;
}
.container{
  position: relative;
  width:600px;
  height:600px;
  margin:100px;
}
.container .box{
  color:white;
  position: relative;
  width:calc(400px- 30px);
  height:calc(400px- 30px);
  background: #000;
  float:left;
  margin: 20px;
  box-sizing:border-box;
  font-size:25px;
}
p{
  font-size:25px;
  
}
body{
  background-color:bisque;
}
#Hacker{
  float:right;
  width:600px;
  height:400px;
}